<div class="container">

  <div class="interactive-group">
    <input type="text"
           placeholder="Search by icon name"
           class="input-search"
           (keyup)="onSearchCustomer($event)"
    />

    <div class="btn-container">
      <button class="btn default" (click)="setTheme('#000000')">Default</button>
      <button class="btn blue" (click)="setTheme('#0098DB')">Blue</button>
      <button class="btn green" (click)="setTheme('#96BC33')">Green</button>
      <button class="btn red" (click)="setTheme('#EF4E4E')">Red</button>
      <button class="btn orange" (click)="setTheme('#ED941E')">Orange</button>
    </div>
  </div>


  <div [hidden]="isEmpty" [Theme]="selectedThemes">
    <ng-template #containerForGroup></ng-template>
  </div>

  <p [hidden]="!isEmpty">Not found</p>

<!--  <z-spinner></z-spinner>-->
</div>



